# OS metadata
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Rust / Cargo
**/target/
Cargo.bak
dcl/examples/build_e2e/

# Python / JAX
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.ipynb_checkpoints/
**/.venv/
**/venv/
**/env/
.env
differentiable_cryptographic_language_framework.md
